@model IEnumerable<AutoNuoma.Models.Zaidimas>

@{
    ViewBag.Title = "Zaidimai";
}

<h2>Zaidimai</h2>

<p>
    @Html.ActionLink("Naujas zaidimas", "Create", "Zaidimas", new { @class="btn btn-success"})
</p>
<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightblue">
            <th>
                @Html.DisplayNameFor(model => model.pavadinimas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zanras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.versija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kurejas)
            </th>
            <th style="wsalisth: 18%"></th>
        </tr>
        </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zanras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.versija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kurejas)
            </td>
            <td>
                @Html.ActionLink("Redaguoti", "Edit", new { id = item.id }, new { @class = "btn btn-primary action" })
                @Html.ActionLink("Šalinti", "Delete", new { id = item.id }, new { @class = "btn btn-danger action" })
            </td>
        </tr>
}
        </tbody>

</table>
